* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;


}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 border: none;
 text-align: center;
}
#accordion .panel-title a{
 display: block;
 padding: 25px 30px;
 font-size: 16px;
 font-weight: bold;
 color: #fff;
 background: #333;
 border-bottom: 1px solid #4a4a4a;
 position: relative;
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
 background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
 content: "\f067";
 font-family: FontAwesome;
 font-size: 15px;
 font-weight: 200;
 position: absolute;
 top: 25px;
 left: 15px;
 transform: rotate(135deg);
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(0deg);
}
#accordion .panel-body{
 background: #167ea0;
 padding: 0 0 0 40px;
 border: none;
 position: relative;
}
#accordion .panel-body p{
 font-size: 14px;
 color: #fff;
 line-height: 25px;
 background: #3296b7;
 padding: 30px;
 margin: 0;
}
#accordion .panel-collapse .panel-body p{
 opacity: 0;
 transform: scale(0.9);
 transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body p{
 opacity: 1;
 transform: scale(1);
}
.navbar-light{
 color: white;
}
.upper {
    color: white;
    background-color: #2e79a2;
    border-bottom: 1px solid;
}
.one {
    color: white;
    font-size: large;
}
.two{
    color:white;
}
.three {
    color: white;
    font-size: large;
}
#image {
    width: 43px;
}
.information {
    margin: 0px;
    margin-bottom: 10px;
}
.information h2 {
    color: white;
    font-size: 20px;
}
.information a {
    color: #3097d1;
    background-color: white;
    border-color: #3097d1;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    
}
.into {
    border: #0d3625 solid 1px;
    border-radius: 12px;
    background-color: #81adbe;
    padding: 8px;
}
.information p {
    font-size: 10px;
}
#main-content {
    margin-top: 20px;
}
.filt {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    border: #0d3625 1px solid;
    background: linear-gradient(to bottom, #81adbe, #81adbe);
}
.filt .up{
    background-color: #2e79a2;
    color: white;

}
.filt button {
    width: 100%;
    color: #3097d1;
    background-color: #f4f6f7;
    border-color: #3097d1;
    font-size: 15px;
}
.fot  {
    margin-top: 200px;
}
.logo {
    width: 3%;
    margin-right: 0px;
}
.dropdown {
    margin-left:0px;
    width: 10px;
}